##导入宏定义
$!{define.vm} 

##设置表后缀（宏定义）
#setTableSuffix("Controller")

##保存文件（宏定义）
#save("/controller", "Controller.kt")

##包路径（宏定义）
#setPackageSuffix("controller")

##定义服务名
#set($serviceName = $!tool.append($!tool.firstLowerCase($!tableInfo.name), "Service"))

##定义实体对象名
#set($entityName = $!tool.firstLowerCase($!tableInfo.name))

import $!{tableInfo.savePackageName}.domain.dto.$!{tableInfo.name}DTO
import $!{tableInfo.savePackageName}.domain.dto.$!{tableInfo.name}PageDTO
import $!{tableInfo.savePackageName}.domain.vo.$!{tableInfo.name}VO
import $!{tableInfo.savePackageName}.mapper.$!{tableInfo.name}Mapper
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service
import com.micronaut.parent.controller.BaseController
import com.micronaut.parent.entities.PageableDTO
import com.micronaut.parent.entities.Rsp
import com.micronaut.parent.entities.RspPagination
import io.micronaut.core.annotation.Introspected
import io.micronaut.core.async.annotation.SingleResult
import io.micronaut.http.annotation.*
import io.micronaut.security.annotation.Secured
import io.micronaut.validation.Validated
import io.swagger.v3.oas.annotations.Operation
import io.swagger.v3.oas.annotations.Parameter
import io.swagger.v3.oas.annotations.tags.Tag
import reactor.core.publisher.Mono
import io.micronaut.core.annotation.Nullable
import io.micronaut.security.authentication.Authentication
import jakarta.validation.Valid
import jakarta.validation.constraints.NotEmpty
import com.micronaut.parent.rule.SecurityRules
import io.micronaut.scheduling.TaskExecutors
import io.micronaut.scheduling.annotation.ExecuteOn
import jakarta.validation.constraints.NotNull

@Controller("/v1/$tableInfo.obj.name")
@Tag(name = "$tableInfo.obj.name", description = "$tableInfo.obj.comment")
@Introspected
@Validated
@ExecuteOn(TaskExecutors.VIRTUAL)
@Secured(value = [SecurityRules.IS_AUTHENTICATED])
 class $!{tableName}(
  private val $!{serviceName}: $!{tableInfo.name}Service
 ) : BaseController() {

  
    @Operation(summary ="[新增]创建单条记录")
    @Post()
    @SingleResult
	@Secured(value = [SecurityRules.IS_AUTHENTICATED])
     fun create(@Valid @Body $!{entityName}DTO: $!{tableInfo.name}DTO): Rsp<$!{tableInfo.name}VO> {
        val param=$!{tableInfo.name}Mapper.MAPPER.dto2bo($!{entityName}DTO)
        val result=$!{serviceName}.save(param)
        return Rsp.success(result)
    }
	

	
    @Operation(summary ="[删除]逻辑删除单条记录")
    @Delete("/logic")
    @SingleResult
	@Secured(value = [SecurityRules.IS_AUTHENTICATED])
     fun deleteByLogic(@NotNull(message = "[id]不能为空")
			   @QueryValue("id")
			   @Parameter(description = "唯一ID",example = "1541693333435453441",required =  true)
			   id:Long):Rsp<Int> {
        val result=$!{serviceName}.deleteByLogic(id)
        return Rsp.success(result)
    }
	
	


    @Operation(summary ="[更新]更新记录")
    @Put
	@Secured(value = [SecurityRules.IS_AUTHENTICATED])
     fun update(
				@NotNull(message = "[id]不能为空")
			    @QueryValue
			    @Parameter(description = "唯一ID",example = "1541693333435453441",required =  true)
				id:Long,
				@Valid @Body $!{entityName}PageDTO: $!{tableInfo.name}PageDTO): Rsp<$!{tableInfo.name}VO?> {
        val param=$!{tableInfo.name}Mapper.MAPPER.pageDto2bo($!{entityName}PageDTO)
           
        val result=$!{serviceName}.update(id,param)
        return Rsp.success(result)
    }
	
	
	@Operation(summary ="[查询]id查询单条记录")
    @Get()
	@Secured(value = [SecurityRules.IS_AUTHENTICATED])
     fun getRecord(
				@NotNull(message = "[id]不能为空")
			    @QueryValue("id")
			    @Parameter(description = "唯一ID",example = "1541693333435453441",required =  true)
				id:Long):Rsp<$!{tableInfo.name}VO?> {
        val result=$!{serviceName}.findById(id)
        return Rsp.success(result)
    }



    @Operation(summary ="[查询]分页查询记录")
    @Get("/page{?pageDTO*}{?pageable*}")
	@Secured(value = [SecurityRules.IS_AUTHENTICATED])
     fun getPageList(@QueryValue pageable: PageableDTO,@QueryValue pageDTO:$!{tableInfo.name}PageDTO):Rsp<RspPagination<$!{tableInfo.name}VO?>> {
        val param=$!{tableInfo.name}Mapper.MAPPER.pageDto2bo(pageDTO)
        val result=$!{serviceName}.findPage(param,pageable.into())
        return Rsp.success(result)
    }


}
